html{
  background-color: #f5f5f5;
  height: 100%;
}
body {
  height: 100%;
}
.icon {
  width: 1em; 
  height: 1em;
  overflow: hidden;
}

input::-webkit-input-placeholder, input::-moz-placeholder, input:-moz-placeholder{
  color: rgba(0,0,0,0.38);
}

.price-font {
  font-family: Arial, Helvetica, sans-serif;
}

.estate-radio-temp {
  display: block;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: relative;
  width: 18px;
  height: 18px;
  &:after {
    content: " ";
    border-radius: 100%;
    position: absolute;
    transition: transform .2s;
    transform: scale(0);
    width: 18px;
    height: 18px;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
  }
}

.estate-radio-temp.selected {
  background-color: #F16622;
  border-color: #F16622;
  &:after {
    transform: scale(1);
  }
}

.estate-checkbox-temp {
  display: inline-block;
  position: relative;
  top: 1px;
  border: 1px solid #9E9E9E;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: #f2f3f4;
  z-index: 1;
  transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}

.estate-checkbox-temp:after {
  box-sizing: content-box;
  content: "";
  border: 1px solid #F16622;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
  transform-origin: center;
}

.estate-checkbox-temp.checked:after {
  transform: rotate(45deg) scaleY(1);
}

/* 行高 */
.lh-1 {
  line-height: 1 !important;
}
.lh-16 {
  line-height: 16px;
}
.lh-19 {
  line-height: 19px;
}
.lh-20 {
  line-height: 20px;
}
.lh-24 {
  line-height: 24px;
}
.lh-28 {
  line-height: 28px;
}
.lh-32 {
  line-height: 32px;
}
.lh-33 {
  line-height: 33px;
}
.lh-36 {
  line-height: 36px;
}
.lh-38 {
  line-height: 38px;
}
.lh-40 {
  line-height: 40px;
}
.lh-44 {
  line-height: 44px;
}
.lh-55 {
  line-height: 55px;
}

/* 背景色 */
.bgc-w{
  background-color: #fff !important;
}
.bgc-t {
  background-color: transparent !important;
}
.bgc-base {
  background-color: #F2F3F4 !important;
}
.bgc-green {
  background-color: #02af67 !important;
}

/* 字体颜色 */
.c-red {
  color: #f55741 !important;
}
.c-dark-red {
  color: #db4c3f !important;
}
.c-yellow {
  color: #e6b322 !important;
}
.c-grey {
  color: #8b8b8b !important;
}
.c-green {
  color: #02af67 !important;
}

/* 交互反馈 */
.click-fbk-grey:active {
  background: #f9f9f9 !important;
}

.btn-fbk:active {
  background: transparent !important;
}

.btn-fbk-green:active {
  background: rgb(24, 161, 102) !important;
  color: #fff !important;
}

/* 业务常用样式 */
.full-box {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.touch-scrolling {
  -webkit-overflow-scrolling: touch;
}
.bs-bb {
  box-sizing: border-box;
}
.img-full {
  width: 100%;
  height: 100%;
}

.btn-base {
  color: #fff;
  background: #00AE66;
  text-align: center;
  border-radius: 2px;
  user-select: none;
}

.tag {
  font-size: 12px;
  padding: 2px 4px;
  line-height: 1;
  margin-right: 5px;
  background-color: #f4f7f9;
  color: #849aae;
}

.arrow-right {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 8px;
  height: 8px;
  transform: translateY(-50%) rotate(45deg);
  border-right: 1px solid #9c9fa1;
  border-top: 1px solid #9c9fa1;
}

.arrow-right-green {
  border-right: 1px solid rgb(24, 161, 102);
  border-top: 1px solid rgb(24, 161, 102);
}

.cell-arrow-right {
  position: relative;
}

.cell-arrow-right:after {
  position: absolute;
  content: " ";
  width: 8px;
  height: 8px;
  border-right: 1px solid #9c9fa1;
  border-top: 1px solid #9c9fa1;
  transform: translateY(-50%) rotate(45deg);
  right: 19px;
  top: 50%;
}
